<%= turbo_stream.update "invitation_link" do %>
  <div id="invitation_link_form" class="flex flex-col gap-y-5">
    <%= simple_format t(".content", email: member.invitation_email) %>
    <%= text_field_tag(:invitation_token, invitation_token_to_url(member.invitation_token), disabled: true, autocomplete: false, class: "w-full border-neutral-200") %>
    <%= irelia_button(type: :submit) { "Re-send invitation email" } %>
  </div>
<% end %>
