<%= irelia_page_header(title: t(".title"), subline: t(".description", team_name: @account.name)) %>

<div class="grid grid-cols-3 gap-x-5">
  <div class="col-span-2">
    <%=
    irelia_table do |table|
      table.with_column { "Name" }
      table.with_column { "Email" }
      table.with_column { "Role" }
      table.with_column { "Member since" }
      table.with_column(html_options: { class: "text-right" }) { "Actions" }

      @memberships.each do |membership|
        table.with_row do |row|
          row.with_cell { membership.user.name }
          row.with_cell { membership.user.email }
          row.with_cell { membership.owner? ? tag.strong(t(".roles.owner")) : t(".roles.member") }
          row.with_cell { time_ago_in_words(membership.created_at) }
          row.with_cell(html_options: { class: "text-right flex justify-end gap-x-2" }) do
          end
        end
      end
    end
    %>
  </div>
  <div>
    <div class="flex flex-col gap-y-5">
      <h3 class="font-bold"><%= t(".invitations_title") %></h3>
      <%= simple_format t(".invitations_text") %>
    </div>
  </div>
</div>
