<h1><%= t(".title", app_name: Kiqr::Config.app_name) %></h1>
<h2><%= t(".description") %></h2>

<% current_user.accounts.each do |account| %>
  <%= link_to account.name, after_select_account_path(account_id: account) %>
<% end %>

<%= link_to personal_account.name, after_select_account_path(account_id: nil) %>
