<% title "Setup your personal account" %>

<%= fullscreen do |screen| %>
  <%= screen.with_form(
    title: "Setup your personal account",
    description: "Finish the registration by setting up your user profile."
  ) do %>
    <main class="flex flex-col gap-4 w-full max-w-2xl">
      <%= render "accounts/form", account: @account %>
    </main>
  <% end %>
<% end %>
