<button data-controller="dark-mode-switcher" data-action="click->dark-mode-switcher#toggle">
  <i class="fa fa-lightbulb hidden dark:inline"></i>
  <i class="fa fa-moon inline dark:hidden"></i>
</button>
