<div id="flash_messages">
  <% if flash.any? %>
    <%= irelia_flex direction: :column, padding: :md, fixed: :bottom_right, html_options: { style: "width: 400px" } do %>
      <% flash.each do |type, message| %>
        <%= irelia_notification(variant: type.to_sym) { message } %>
      <% end %>
    <% end %>
  <% end %>
</div>
