<%= navbar do |navbar| %>
  <%= render "partials/navbars/logo" %>
  <nav class="flex gap-x-8">
    <%= user_signed_in? ? render("partials/navbars/protected", navbar:) : render("partials/navbars/public", navbar:) %>
  </nav>
<% end %>
