<div class="flex flex-col md:flex-row my-8 md:my-16 container gap-8">
  <aside class="min-w-96">
    <div class="flex flex-col bg-surface shadow rounded overflow-hidden">
      <%= render "partials/navigations/settings" %>
    </div>
  </aside>
  <main class="w-full">
    <%= content %>
  </main>
</div
