<% unless flash.empty? %>
  <div class="fixed top-[var(--navbar-height)] font-bold w-full text-sm flex justify-center items-center p-4 border-b bg-surface">
    <% flash.each do |type, message| %>
      <% if type == "notice" %>
        <span class="text-primary"><i class="fa fa-info-circle mr-3 text-sm"></i> <%= message %></span>
      <% elsif type == "alert" %>
        <span class="text-rose-500"><i class="fa fa-circle-exclamation text-xl mr-3"></i> <%= message %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
