<header class="container">
  <div class="flex border-b border-border my-8 pb-6">
    <div class="flex flex-1 flex-col gap-y-1">
      <h1 class="text-lg font-bold uppercase"><%= title %></h1>
      <% if description %><p class="text-neutral-400"><%= description %></p><% end %>
    </div>
  </div>
</header>
