<%= navbar.item(icon: "fa fa-house", label: t(".home"), path: root_path) %>

<nav class="ml-auto flex gap-x-8 items-center">
  <%= navbar.item(label: t(".sign_in"), path: new_user_session_path) %>
  <%= navbar.item(label: t(".register"), path: new_user_registration_path) %>
  <%= navbar.dark_mode_switch %>
</nav>
