<section class="sticky left-0 right-0 top-0 z-50 h-[var(--navbar-height)] gap-x-8 items-center border-b bg-surface">
  <div class="container flex items-center gap-x-8 h-full text-sm">
    <%= content %>
  </div>
</section>
