<section class="sticky left-0 right-0 top-0 z-50 h-[var(--navbar-height)] gap-x-8 items-center border-b bg-surface">
  <div class="container flex items-center gap-x-16 h-full text-sm">
    <%= content %>
    <nav class="ml-auto flex gap-x-8 items-center">
      <% right_sections.each do |right| %>
        <%= right %>
      <% end %>
    </nav>
  </div>
</section>
