@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-height: 70px;
    --color-primary: theme("colors.cyan.700");
    --color-text: theme("colors.slate.600");
    --color-background: theme("colors.neutral.50");
    --color-surface: theme("colors.white");
    --color-surface-hover: theme("colors.slate.50");
    --color-border: theme("colors.slate.200");
    --color-light: theme("colors.slate.400");
    --color-button: theme("colors.cyan.700");
    --color-button-text: theme("colors.white");
  }

  .dark {
    --color-primary: theme("colors.white");
    --color-text: theme("colors.zinc.300");
    --color-background: theme("colors.stone.900");
    --color-surface: theme("colors.zinc.800");
    --color-surface-hover: theme("colors.stone.800");
    --color-border: theme("colors.zinc.700");
    --color-light: theme("colors.zinc.500");
    --color-button: theme("colors.zinc.700");
    --color-button-text: theme("colors.white");
  }

  body {
    @apply bg-[var(--color-background)] font-sans text-[var(--color-text)] antialiased;
  }

  .invalid .input-box {
    @apply border border-rose-500;
  }
}

@layer components {
  .box {
    @apply bg-surface text-text w-full rounded-lg p-8 shadow relative;
  }

  .button {
    @apply border-border bg-button inline-flex items-center gap-x-2 cursor-pointer rounded px-5 py-2 font-bold text-white no-underline;
  }

  .button.xs {
    @apply px-3 py-1 text-sm;
  }

  .button.danger {
    @apply bg-rose-500;
  }

  .button.alt {
    @apply bg-light;
  }

  .box table {
    width: calc(100% + 4rem);
    @apply -mx-8 -mb-8;
  }

  .box table thead {
    @apply border-border;
  }

  .box table thead th {
    @apply text-text;
  }

  .box table tbody tr {
    @apply text-text px-5 border-border odd:bg-gray-100 even:bg-gray-50 dark:odd:bg-stone-900 dark:even:bg-stone-800;
  }

  .box table th,
  .box table td {
    @apply p-2 px-4 first:pl-8 last:pr-8;
  }
}
