@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-height: 70px;
    --color-text: theme("colors.slate.600");
    --color-background: theme("colors.neutral.50");
    --color-surface: theme("colors.white");
    --color-surface-hover: theme("colors.slate.50");
    --color-border: theme("colors.slate.200");
    --color-primary: theme("colors.cyan.600");
    --color-light: theme("colors.slate.400");
  }

  .dark {
    --color-text: theme("colors.slate.300");
    --color-background: theme("colors.slate.800");
    --color-surface: theme("colors.slate.900");
    --color-surface-hover: theme("colors.neutral.900");
    --color-border: theme("colors.slate.700");
    --color-primary: theme("colors.cyan.600");
    --color-light: theme("colors.slate.500");
  }

  body {
    @apply bg-[var(--color-background)] font-sans text-[var(--color-text)] antialiased;
  }

  .invalid .input-box {
    @apply border border-rose-500;
  }
}

@layer components {
  .box {
    @apply bg-surface text-text w-full rounded-lg p-8 shadow;
  }

  .kiqr-button {
    @apply border-border rounded bg-rose-500 px-4 py-2 text-white;
  }
}
