<% title "Setup your personal account" %>

<%= fullscreen do |screen| %>
  <%= screen.with_form(
    title: t(".title"),
    description: t(".description")
  ) do %>
    <main class="flex flex-col gap-4 w-full max-w-2xl">
      <%= render "kiqr/partials/forms/user", user: @user %>
    </main>
  <% end %>
<% end %>
