<% title t(".title") %>

<%= fullscreen do |screen| %>
  <%= screen.with_form(
    title: t(".title", app_name: Kiqr::Config.app_name),
    description: t(".description")
  ) do %>
    <main class="flex flex-col gap-4 w-full max-w-xl">
      <%= render "form", account: @account %>
    </main>
  <% end %>
<% end %>
