<% title "Welcome to your new application" %>

<%= fullscreen do |screen| %>
  <%= screen.with_announcement(
    image: 'undraw/welcome_cats.svg',
    description: 'KIQR is a complete solution to kickstart your SaaS development. It comes with a pre-configured Rails app, Tailwind CSS, and a set of components to get you started.'
  ) do %>
    <p class="font-bold">You can edit this page at: <code>app/views/public/landing_page.html.erb</code></p>
  <% end %>
<% end %>
