<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "partials/head" %>
  </head>
  <body>
    <%= render_flash_messages %>
    <%=
      # => Render the Irelia app shell with breadcrumbs and sidebar
      irelia_app_shell do |app|
        app.with_breadcrumbs(breadcrumbs: breadcrumb_trail)
        app.with_sidebar { |sidebar| render(partial: "partials/sidebar", locals: { sidebar: sidebar }) }
        app.with_submenu { |submenu| render(partial: submenu_partial, locals: { menu: submenu }) } if has_submenu?
        yield
      end
    %>
  </body>
</html>
