<%= simple_form_for(account, url: account_path, method: :patch) do |f| %>
  <%= f.input :name, placeholder: (account.personal? ? t(".name.personal") : t(".name.team")), required: true, autofocus: true %>
  <div class="mt-4 flex justify-between items-center">
    <%= f.button :submit, t(".submit_button") %>
  </div>
<% end %>
